<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<style>
    html,body{
        align-content: center;
        color: white;
        margin:0;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        background-image: linear-gradient(90deg,blue,cyan);
        text-shadow: 1px 1px black;
    }
    div{
        width: 100%;
        display: grid;
        box-sizing: border-box;
        background:orange;
        margin:1px;
        padding:1px;
    }
</style>
<body>
<div th:each="product : ${products}">
    <h3><span th:text="${product.name}"></span></h3>
    <h3>Cost:  $<span th:text="${product.costInCents}"></span></h3>
</div>
</body>
</html>
